@{
    Layout = null;
}

<!DOCTYPE html>

@{
    Layout = MVC.Shared.Views._Layout;
}
@using DviraciuSurinktuve.Entities
@model DviraciuSurinktuve.Models.SurinktuveViewModel


<ul>
    @foreach (DetaliųGrupė gr in Model.VisosGrupės)
    {
        <li  class="detales-grupe closed" >@gr.Pavadinimas  <span class="handle">+</span> 
            <ul class="grupes-detales"> 
                @foreach (Detalė det in gr.Detalės)
                { 
                    <li class="detale" data-detId="@det.Id">@det.Pavadinimas</li>  
                    @*<ul> 
                        @foreach (DetaliųJungtis jung in det.Jungtys)
                        { 
                            <li>@jung.Pavadinimas - @jung.Grupė.Pavadinimas</li>  
                        }
                    </ul>*@
                }
            </ul>
        </li> 
    }
</ul>
<div id="detales-parametrai">
    </div>
<div id="komplektacijos-langas">
    @{Html.RenderAction(MVC.Surinktuve.GautiKomplektacija());}
</div>


@section Scripts
{
    <script type="text/javascript" src="@Url.Content("/Scripts/surinktuve.js")"></script>
}



   